html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff00ff, #0000ff);
    overflow-x: hidden;
    color: white;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1px;
}

nav ul li a:hover {
    letter-spacing: 2px;
    text-shadow: 0 0 10px white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 80px;
}

#hero {
    text-align: center;
    /* padding-top: 100px;  */
    position: relative;
}

#about, #projects, #contact {
    text-align: center;
    color: white;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: min(500px, 90%);
}


button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
}
button a {
    text-decoration: none ;
    color: white;
    
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);
}

.background-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.shape {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.shape1 {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
    border-radius: 50%;
}

.shape2 {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 70%;
    border-radius: 50%;
}

.shape3 {
    width: 150px;
    height: 150px;
    top: 80%;
    left: 30%;
    border-radius: 50%;
}

.shape4 {
    width: 100px;
    height: 100px;
    top: 40%;
    left: 20%;
    border-radius: 50%;
}

.shape5 {
    width: 250px;
    height: 250px;
    top: 70%;
    left: 80%;
    border-radius: 50%;
}

.about-glass{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: min(500px, 90%);
}

.about-glass img {
    border-radius: 10px;
    width: min(250px, 90%);
    height: min(250px, 90%);
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.about-glass h2 {
    margin: 20px 0 10px;
}

.about-glass p {
    margin: 0;
}

.projects-glass{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: min(300px);
}

.wrapper{
    display: flex;
    gap: 20px;
    width: 300px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    text-align: center;
}

.card{
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 25px 25px;
    flex-shrink: 0;
    width: min(300px, 99%);
    border-radius: 14px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    text-align: center;
}

.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 19px;
}
